%footer.footer
  .container
    = link_to 'UpHex', '/', :class => 'logo logo--mark-only'
    %ul.footer__links.footer__links--secondary
      %li.footer__link.footer__buttonwrap
        = link_to 'Pricing & Signup', "http://#{@app_host}/users/new", class: 'footer__anchor button button--green button--small'
      %li.footer__link
        = link_to 'Log In', "http://#{@app_host}/sessions/new", class: 'footer__anchor'
    %ul.footer__links.footer__links--primary
      -# %li.footer__link
      -#  = link_to 'About Us', '#', class: 'footer__anchor'
      %li.footer__link
        = mail_to 'support@uphex.com', 'Contact Us', class: 'footer__anchor'
      %li.footer__link
        = link_to 'Terms of Service', '/terms.html', class: 'footer__anchor'
      %li.footer__link
        = link_to 'Privacy Policy', '/privacy.html', class: 'footer__anchor'
