%footer.footer
  .container
    = link_to 'UpHex', '/', :class => 'logo logo--mark-only'
    %ul.footer__links.footer__links--secondary
      %li.footer__link.footer__buttonwrap
        = link_to 'Pricing & Signup', 'http://app.uphex.com/sessions/new', class: 'js-prelaunch-modal footer__anchor button button--green button--small'
      %li.footer__link
        = link_to 'Log In', 'http://app.uphex.com/sessions/new', class: 'footer__anchor'
    %ul.footer__links.footer__links--primary
      %li.footer__link
        = link_to 'About Us', '#', class: 'footer__anchor'
      %li.footer__link
        = mail_to 'support@uphex.com', 'Contact Us', class: 'footer__anchor'
      %li.footer__link
        = link_to 'Terms of Service', '/terms.html', class: 'footer__anchor'
      %li.footer__link
        = link_to 'Privacy Policy', '/privacy.html', class: 'footer__anchor'

:javascript
  // Google Analytics
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37548222-4', 'uphex.com');
  ga('send', 'pageview');

  // Customer.io
  var _cio = _cio || [];
  (function() {
    var a,b,c;a=function(f){return function(){_cio.push([f].
    concat(Array.prototype.slice.call(arguments,0)))}};b=["load","identify",
    "sidentify","track","page"];for(c=0;c<b.length;c++){_cio[b[c]]=a(b[c])};
    var t = document.createElement('script'),
        s = document.getElementsByTagName('script')[0];
    t.async = true;
    t.id    = 'cio-tracker';
    t.setAttribute('data-site-id', '#{ENV['CUSTOMER_API_KEY']}');
    t.src = 'https://assets.customer.io/assets/track.js';
    s.parentNode.insertBefore(t, s);
  })();
