= partial 'shared/header'

%section.layout-wrap
  .mod-intro
    %header
      %h1 Proactive Marketing Alerts
      %h2 UpHex is the easiest way to track your marketing metrics. Get insights delivered to your inbox - automatically!

    %ul
      %li= link_to 'sign up for alpha', 'http://app.uphex.com/users/new', :class => 'button green'

  .mod-services
    %header
      %h2 Set It And Forget It
      %p UpHex requires almost no effort. Connect your web accounts with a couple clicks, then sit back and relax. We'll alert you when there's interesting activity in one of your metrics.

    %ul
      %li= link_to 'Google Analytics', '#', :class => 'google'
      %li= link_to 'Facebook', '#', :class => 'facebook'
      %li.last-child= link_to 'Twitter', '#', :class => 'twitter'

  .mod-features
    %header
      %h2 Features
      -#%p See your clients' metrics like never before. UpHex gives you simple, yet powerful tools for analytics management.

    %ul
      %li.cog
        %h3 Easy Setup
        %p Get started in under 5 minutes. Simply connect your accounts, and we'll take care of everything else.

      %li.monitoring
        %h3 Smart Monitoring
        %p No customization required. Our sophisticated models intelligently adapt to your unique data.

      %li.alerts
        %h3 Relevant Alerts
        %p Right place at the right time. We'll alert you when there's activity that deserves your attention.

  .mod-thoughts
    %h2 Thoughts

    %ul
      %li
        %blockquote Sophisticated analytics can substantially improve decision making, minimize risks, and unearth valuable insights that would otherwise remain hidden.
        %footer
          McKinsey Global Institute
          %span Big Data: The next frontier for innovation, competition, and productivity

      %li
        %blockquote There is growing quantifiable evidence that data-driven decision making enabled by business analytics solutions provides a competitive difference.
        %footer
          Dan Veseet
          %span Vice President, Business Analytics at IDC
