= partial 'shared/header'

%section.layout-wrap
  .mod-intro
    %header
      %h1 Proactive Marketing Alerts
      -#%h2 UpHex is analytics management for marketing agencies.
      %h2 UpHex is the easiest way to track your marketing metrics. Get insights delivered to your inbox - automatically!

    %ul
      -# %li= link_to 'see our plans', '#', :class => 'button blue'
      %li= link_to 'sign up for alpha', 'http://app.uphex.com/users/new', :class => 'button green'

  .mod-services
    %header
      %h2 Set It And Forget It
      %p Simply sign up and connect your Google Analytics, Facebook, and/or Twitter accounts. UpHex handles the heavy lifting - we monitor your marketing metrics and alert you when there's interesting activity.  

    %ul
      %li= link_to 'Google Analytics', '#', :class => 'google'
      %li= link_to 'Facebook', '#', :class => 'facebook'
      -# %li= link_to 'PayPal', '#', :class => 'paypal'
      -# %li= link_to 'Amazon', '#', :class => 'amazon'
      -# %li= link_to 'YouTube', '#', :class => 'youtube'
      -# %li= link_to 'Shopify', '#', :class => 'shopify'
      %li.last-child= link_to 'Twitter', '#', :class => 'twitter'

  .mod-features
    %header
      %h2 Features
      -#%p See your clients' metrics like never before. UpHex gives you simple, yet powerful tools for analytics management.

    %ul
      %li.secure
        %h3 Secure
        %p UpHex uses the latest OAuth protocol to ensure that your account data is safe and secure. 

      %li.clock
        %h3 24/7
        %p Our software runs all day, every day. Which means UpHex is working even when you're not.

      %li.smart
        %h3 Smart
        %p Under the hood, UpHex is powered by sophisticated models that intelligently adapt to your unique data.

  .mod-thoughts
    %h2 Thoughts

    %ul
      %li
        %blockquote Sophisticated analytics can substantially improve decision making, minimize risks, and unearth valuable insights that would otherwise remain hidden.
        %footer
          McKinsey Global Institute
          %span Big Data: The next frontier for innovation, competition, and productivity

      %li
        %blockquote There is growing quantifiable evidence that data-driven decision making enabled by business analytics solutions provides a competitive difference.
        %footer
          Dan Veseet
          %span Vice President, Business Analytics at IDC
