= partial 'shared/header'

%section.layout-wrap
  .mod-intro
    %header
      %h1 Turn Analytics Into Answers
      %h2 - analytics manangement for marketing agencies -
      %p Impress your clients with real-time insights and actionable recommendations. UpHex gives you the tools to make it happen!

    %ul
      -# %li= link_to 'see our plans', '#', :class => 'button blue'
      %li= link_to 'sign up for alpha', 'http://eepurl.com/EiQVL', :class => 'button green'

  .mod-services
    %header
      %h2 Works With Popular Web Services
      %p Get up and running in less than 5 minutes. UpHex seamlessly integrates with the web services your clients already use, like Google Analytics, Facebook, and Twitter. 

    %ul
      %li= link_to 'Google Analytics', '#', :class => 'google'
      %li= link_to 'Facebook', '#', :class => 'facebook'
      -# %li= link_to 'PayPal', '#', :class => 'paypal'
      -# %li= link_to 'Amazon', '#', :class => 'amazon'
      -# %li= link_to 'YouTube', '#', :class => 'youtube'
      -# %li= link_to 'Shopify', '#', :class => 'shopify'
      %li.last-child= link_to 'Twitter', '#', :class => 'twitter'

  .mod-features
    %header
      %h2 Features
      %p See your clients' metrics like never before. UpHex gives you simple, yet powerful tools for analytics management.

    %ul
      %li.dashboard
        %h3 All-In-One Dashboard
        %p Stop checking multiple dashboards. UpHex lets you see every metric from every client in one place. 

      %li.monitoring
        %h3 Intelligent Monitoring
        %p Our sophisticated algorithms continuously monitor your data and filter important events from noise.

      %li.alerts
        %h3 Real-Time Alerts
        %p Know when to act. We'll alert you when there's something that deserves your attention.

  .mod-thoughts
    %h2 Thoughts

    %ul
      %li
        %blockquote Sophisticated analytics can substantially improve decision making, minimize risks, and unearth valuable insights that would otherwise remain hidden.
        %footer
          McKinsey Global Institute
          %span Big Data: The next frontier for innovation, competition, and productivity

      %li
        %blockquote There is growing quantifiable evidence that data-driven decision making enabled by business analytics solutions provides a competitive difference.
        %footer
          Dan Veseet
          %span Vice President, Business Analytics at IDC
