= partial 'shared/header'

%section.layout-wrap
  .mod-intro
    %header
      %h1 Impress your clients with real-time insights
      %p Stop running reports with stale data and few insights. Let UpHex monitor all your clients' data and deliver valuable insights right to your inbox.

    %ul
      -# %li= link_to 'see our plans', '#', :class => 'button blue'
      %li= link_to 'SIGN UP FOR BETA', 'http://eepurl.com/EiQVL', :class => 'button green'

  .mod-services
    %header
      %h2 Works with all your services
      %p Our software seamlessly integrates with many of the analytics services your clients' are already using, like Google Analytics, Shopify, Twitter, Facebook and many more.

    %ul
      %li= link_to 'Facebook', '#', :class => 'facebook'
      %li= link_to 'PayPal', '#', :class => 'paypal'
      %li= link_to 'Amazon', '#', :class => 'amazon'
      %li= link_to 'Twitter', '#', :class => 'twitter'
      %li= link_to 'Google Analytics', '#', :class => 'google'
      %li= link_to 'YouTube', '#', :class => 'youtube'
      %li.last-child= link_to 'Shopify', '#', :class => 'shopify'

  .mod-features
    %header
      %h2 Features
      %p UpHex is a simple, yet powerful tool for keeping tabs on your clients' analytics.

    %ul
      %li.integration
        %h3 One-click Integration
        %p Getting started with UpHex is a breeze. Hook up the analytics services your clients already use with our simple, one-click integration. You'll be up and running in less than 5 minutes.

      %li.monitoring
        %h3 Intelligent Monitoring
        %p Let us do the heavy lifting when it comes to analytics. We monitor all your clients' data and automatically filter events based on statistical importance using accurate, sophisticated algorithms.

      %li.alerts
        %h3 Real-time Alerts
        %p Know when to act. We'll send you an email when we've detected important events that need your attention. Otherwise, sit back and relax...we've got your analytics covered!

  .mod-thoughts
    %h2 Thoughts

    %ul
      %li
        %blockquote Sophisticated analytics can substantially improve decision making, minimize risks, and unearth valuable insights that would otherwise remain hidden.
        %footer
          McKinsey Global Institute
          %span Big Data: The next frontier for innovation, competition, and productivity

      %li
        %blockquote There is growing quantifiable evidence that data-driven decision making enabled by business analytics solutions provides a competitive difference.
        %footer
          Dan Veseet
          %span Vice President, Business Analytics at IDC
