= partial 'shared/header_signup'

.layout-wrap
  .mod-signup
    %h3 Sign up

    .progress
      %span your details
      %span.current payment details

    %h4.payment Enter your payment details

    %form
      .input
        %label{:for => :cardname}
          Name on Card
          %span.required *
        = text_field_tag :cardname, :placeholder => 'James Smith'

      .input
        %label{:for => :cardnumber}
          Card Number
          %span.required *
        = text_field_tag :cardnumber

      .input.cvc
        %label{:for => :cvc}
          CVC
          %span.required *
        = text_field_tag :cvc

      .input.expiration
        %label{:for => :date}
          Expiration Date
          %span.required *
        = text_field_tag :date

      .input
        = submit_tag :submit, :value => 'Get Started Now', :class => 'button blue'

    %footer
      = link_to "I'll provide payment information later", '#'
