= partial 'shared/header_signup'

.layout-wrap
  .mod-signup
    %h3 Sign up

    .progress
      %span.current your details
      %span payment details

    %h4.account
      Create your account
      %span
        You are signing up for the Enterprise Plan
        = link_to '(Change)', '#'

    %form
      .alert-box
        %p.alert Company name is blank
        %p.alert E-mail is not correctly formatted

      .input.success
        %label{:for => :username}
          First and Last Name
          %span.required *
        = text_field_tag :username, :placeholder => 'James Smith'

      .input.error
        %label{:for => :company}
          Company
          %span.required *
        = text_field_tag :company

      .input
        %label{:for => :email}
          Email
          %span.required *
        = email_field_tag :email

      .input
        %label{:for => :password}
          Password
          %span.required *
        = password_field_tag :password

      .input
        = submit_tag :submit, :value => 'Keep Going', :class => 'button blue'
