= partial 'shared/header'

.layout-wrap
  %section.mod-intro
    %header
      %h1 Who We Are
      %p UpHex launched in 2013 as a tool to help digital agencies get more value from existing analytics services. Our software helps marketers gather accurate insights and generate valuable, timely recommendations for their clients.

  %section.mod-team
    %h1 Meet the UpHex Team

    %article
      %h2
        John Feminella,
        %span co-founder

      = image_tag 'john-feminella.jpg'

      %p John Feminella is an avid technologist, occasional public speaker, and frequent instigator of assorted shenanigans. John recently co-founded UpHex, a start-up providing predictive analytics and automated insights for digital agencies and their clients. John is a guest lecturer at the University of Virginia and mentors budding entrepreneurs at HackCville.

      %p John attended the University of Virginia, where he was an Echols Scholar and a Rodman Scholar. He lives in Charlottesville, VA.

      %ul
        %li= mail_to 'john@uphex.com', 'Email', :class => 'mail'
        -# %li= link_to 'Google+', '#', :class => 'google'
        %li= link_to 'LinkedIn', 'http://www.linkedin.com/in/johnxf/', :class => 'linkedin'
        %li= link_to 'Twitter', 'http://twitter.com/superninjarobot', :class => 'twitter'

    %article
      %h2
        Bradley Kipp,
        %span co-founder

      = image_tag 'bradley-kipp.jpg'

      %p Bradley recently co-founded UpHex, his second start-up adventure. He is a reformed banker, having spent four years in investment banking prior to the start-up world. Bradley stumbled into entrepreneurship during his second year at UVA's Darden School of Business when he joined the four-person founding team of Cardagin Networks. At Cardagin, he was in charge of finance, business development, strategy, and operations. 

      %p Bradley holds a BA (cum laude) from Vanderbilt University and an MBA from UVA's Darden School of Business. In his spare time, Bradley enjoys spending time with his wife and two young boys. He is also (slowly) teaching himself how to code.

      %ul
        %li= mail_to 'bradley@uphex.com', 'Email', :class => 'mail'
        -# %li= link_to 'Google+', 'https://plus.google.com/108032552662386423426/posts', :class => 'google'
        %li= link_to 'LinkedIn', 'http://www.linkedin.com/in/bradleykipp/', :class => 'linkedin'
        %li= link_to 'Twitter', 'https://twitter.com/JustTheKipp', :class => 'twitter'

  %section.mod-contact
    %header
      %h1 Contact Us
      %p We'd love to hear from you.

    %ul
      %li= link_to '@uphexco', 'https://twitter.com/uphexco', :class => 'twitter'
      %li
        %a.address
          9 Elliewood Avenue
          %br
          Charlottesville, VA 22903
      %li= mail_to 'hello@uphex.com', 'hello@uphex.com'
