!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title UpHex | Proactive Marketing Alerts
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    = stylesheet_link_tag 'application'
    = favicon_tag 'favicon.png', :type => 'image/ico'
    %link{:href => 'https://fonts.googleapis.com/css?family=Open+Sans:400,700', :rel => 'stylesheet'}

  %body
    = partial 'shared/modal'

    = partial 'shared/header'

    = yield

    = partial 'shared/footer'

    = javascript_include_tag 'application'
