!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %script{src: "//cdn.optimizely.com/js/3798330036.js"}
    %title UpHex | Smart Reports For Growing Businesses
    %meta{:name => 'description', :content => 'Spreadsheets are time consuming. Dashboards are confusing. Get insights delivered to your inbox with UpHex.'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
    = stylesheet_link_tag 'application'
    = favicon_tag 'favicon.png', :type => 'image/ico'
    %link{:href => 'https://fonts.googleapis.com/css?family=Open+Sans:400,700', :rel => 'stylesheet'}

  %body
    = partial 'shared/modal'

    = partial 'shared/header'

    = yield

    = partial 'shared/footer'

    = partial 'shared/snippets'

    = javascript_include_tag 'application'
