!!! 5
!= cc_html(lang: 'en') do
  %head
    %meta{:charset => 'utf-8'}
    %title UpHex | Analytics. Answered.
    = stylesheet_link_tag 'application'
    = favicon_tag 'favicon.png', :type => 'image/ico'

  %body
    = yield

    %footer.mod-footer
      .layout-wrap
        %ul
          %li= link_to 'terms', '/terms.html'
          %li= link_to 'privacy', '/privacy.html'
          %li.mail= mail_to 'support@uphex.com', 'support@uphex.com'

        %p
          Copyright &copy; 2013 UpHex, all rights reserved.

    = partial 'shared/footer'
